language: php

php:
  - 5.6
  - 7.1

env:
  global:
    - setup=basic

sudo: false

before_install:
  - cp .env.travis .env
  - travis_retry composer self-update

install:
  - travis_retry composer install --no-interaction --prefer-dist
  - php artisan migrate

script: vendor/bin/phpunit
